body {
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #e7e7e7;
  border-radius: 0;
  border: 0;
  height: 100px;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #00ffff;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 5px;
}
#nav-list a {
  text-align: center;
  color: #000000;
}
#nav-list a:hover {
  background: #dfdfdf;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #0f0f0f;
}
.navbar-hearder button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* MAIN CONTENT */
.row img {
  margin: 20px 10px 20px 10px;
}

.text-center img {
  margin: 100px 100px;
  width: 100px;
}

#search form {
  display: inline;
  color: #000000;
  font-size: 15px;
}
#search p {
  font-size: 20px;
  color: #ff8000;
  text-align: center;
  margin: 30px 10px 30px 10px;

}
/* End Main Content */

/* Footer */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #e8e8e;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
.panel-footer section {
    margin-bottom: 30px;
    text-align: center;
}
.panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
}
.panel-footer section hr {
    width: 50%;
}
/* End Footer */

@media (min-width: 1200px) {
  .row img {
    width: 600px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .row img {
    width: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .row img {
    width: 400px;
  }
}

@media (max-width: 767px) {

}


